{:sweet-tooth.endpoint.module/middleware                            [:duct/module]
 :sweet-tooth.endpoint.module/liberator-reitit-router               [:duct/module]
 :sweet-tooth.endpoint.module.liberator-reitit-router/ring-router   [:duct/router]
 :sweet-tooth.endpoint.module.liberator-reitit-router/reitit-router [:st/router]
 :sweet-tooth.endpoint.datomic/connection                           [:duct/database]}
