{:sweet-tooth.endpoint.liberator.reitit-router/ns-routes [:duct/module]
 :sweet-tooth.endpoint.liberator.reitit-router/router    [:duct/router]
 :sweet-tooth.endpoint.datomic/connection                [:duct/database]}
